@model People
@{ Layout = "_Layout"; ViewBag.Title = "Get Person by Id";}

<h2>Get Person by Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<h3>@ViewBag.StatusCode</h3>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Person</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Reservation</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Person Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PeopleId</td>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.PhoneNumber</td>
            </tr>
        </tbody>
    </table>
}